@import './styles/font.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Dimensions */
    --dimension-xs: 8px;
    --dimension-s: 12px;
    --dimension-m: 16px;
    --dimension-l: 20px;
    --dimension-radius-input: 12px;

    /* Typography */
    --font-label-m-size: 16px;
    --font-label-m-weight: 500;
    --font-label-m-line-height: 22px;
    --font-label-m-letter-spc: 0.16px;

    --font-label-s-size: 14px;
    --font-label-s-weight: 500;
    --font-label-s-line-height: 17px;
    --font-label-s-letter-spc: 0.16px;

    --font-body-m-size: 16px;
    --font-body-m-weight: 400;
    --font-body-m-line-height: 22px;
    --font-body-m-letter-spc: 0.1px;

    /* Colors */
    --color-surface-x-high: #8c8c9a;
    --color-surface-x-low: #ffffff;
    --color-surface-brand: #0050ff;
    --color-surface-danger: #dc2828;
    --color-surface-danger-variant: #ffdcdc;
    --color-surface-warning: #a56315;
    --color-surface-warning-variant: #faf1b6;

    --color-content-on-neutral-xx-high: #2c2c31;
    --color-content-on-neutral-medium: #8c8c9a;
    --color-content-on-neutral-low: #c9c9ce;
    --color-content-on-neutral-danger: #dc2828;
    --color-content-on-neutral-warning: #a56315;

    --color-state-default-hover: rgba(26, 26, 26, 0.06);
    --color-state-default-focus: rgba(26, 26, 26, 0.8);
  }
}